@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --maroon: #982015;
  --green: #9caf88;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-maroon: var(--maroon);
  --color-green: var(--green);
  --font-primary: var(--font-great-vibes);
  --font-sans: var(--font-montserrat);
}

html,
body {
  background: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

html.lock-scroll,
body.lock-scroll {
  overflow: hidden;
}
